<div class="row" *ngIf="migrationHistoryRefreshTimer">
    <div class="col-md-12 pb-4 text-center">
        <fa-icon class="pr-2" icon="ellipsis-h"></fa-icon>
    </div>
</div>
<div class="row" *ngIf="histories.length">
    <div class="col-md-12">
        <div class="row" *ngFor="let history of histories; let last = last">
            <div class="col-md-3">
                <div class="row">
                    <div class="col-5 text-center justify-content-center align-self-center" matTooltipPosition="above"
                         [matTooltip]="history.date | date:'dd/MM/yy'">
                        <b>{{ history.date | date:'HH:mm' }}</b>
                    </div>
                    <div class="col-7 justify-content-center align-self-center status"
                         [ngClass]="cssClass(history.status)" matTooltipPosition="above" [matTooltip]="history.status">
                        <fa-icon class="pr-2" icon="sync" spin="true" *ngIf="history.status === 'RUNNING'"></fa-icon>
                        <small>{{ history.step.split('_').join(' ') }}</small>
                    </div>
                </div>
            </div>
            <div class="col-md-9 pl-4 pr-4 justify-content-center align-self-center">
                <code>{{ history.data }}</code>
            </div>
            <div class="col-md-12" *ngIf="!last">
                <hr />
            </div>
        </div>
    </div>
</div>
<div *ngIf="!histories.length" class="text-center">
    <h5>
        <span jhiTranslate="migration-process.no-events"></span>
    </h5>
</div>
