<mat-card-content *ngIf="migration != undefined && migration.mappings != undefined">
    <table mat-table [(dataSource)]="migration.mappings" class="large-table">
        <ng-container matColumnDef="svn" style="padding-right: 50px">
            <th mat-header-cell *matHeaderCellDef style="padding-right: 50px"><span jhiTranslate="migration-process.svn.directory">SVN directory</span></th>
            <td mat-cell *matCellDef="let mapping" style="padding-right: 50px">{{ mapping.svnDirectory }}</td>
        </ng-container>
        <ng-container matColumnDef="regex">
            <th mat-header-cell *matHeaderCellDef><span jhiTranslate="migration-process.regex">Regex</span></th>
            <td mat-cell *matCellDef="let mapping">{{ mapping.regex }}</td>
        </ng-container>
        <ng-container matColumnDef="icon">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let mapping"><mat-icon>arrow_right_alt</mat-icon></td>
        </ng-container>
        <ng-container matColumnDef="git" style="padding-left: 40px">
            <th mat-header-cell *matHeaderCellDef style="padding-left: 40px"><span jhiTranslate="migration-process.git.directory">Git directory</span></th>
            <td mat-cell *matCellDef="let mapping" style="padding-left: 40px">{{ mapping.gitDirectory }}</td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</mat-card-content>
