<mat-card class="details-card">
    <mat-card-header class="card-header">
        <mat-card-title style="margin: 0" jhiTranslate="migration-process.details">Migration details</mat-card-title>
    </mat-card-header>
    <mat-card-content *ngIf="histories.length > 0">
        <table mat-table [dataSource]="histories">
            <ng-container matColumnDef="step">
                <th mat-header-cell *matHeaderCellDef style="width: 300px"><span jhiTranslate="migration-process.step">Step</span></th>
                <td mat-cell *matCellDef="let history" style="width: 300px">{{ history.step }}</td>
            </ng-container>
            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef style="width: 100px"><span jhiTranslate="migration-process.status">Status</span></th>
                <td mat-cell *matCellDef="let history" style="width: 100px" [ngClass]="cssClass(history.status)">{{ history.status }}</td>
            </ng-container>
            <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef style="width: 250px"><span jhiTranslate="migration-process.date">Date</span></th>
                <td mat-cell *matCellDef="let history" style="width: 250px">{{ history.date | date:'medium' }}</td>
            </ng-container>
            <ng-container matColumnDef="data">
                <th mat-header-cell *matHeaderCellDef style="width: 550px"><span jhiTranslate="migration-process.info">Info</span></th>
                <td mat-cell *matCellDef="let history" style="width: 550px">{{ history.data }}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </mat-card-content>
</mat-card>
