/src/main/webapp/content/css/main.css
/target/www/**
/src/test/javascript/coverage/
/node/
node_tmp/
node_modules/
npm-debug.log.*
/.awcache/*
/.cache-loader/*
.sass-cache/
*.pydevproject
.project
.metadata
tmp/
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
.factorypath
/src/main/resources/rebel.xml
.externalToolBuilders/**
*.launch
.cproject
.buildpath
.idea/
*.iml
*.iws
*.ipr
*.ids
*.orig
classes/
out/
.vscode/
/log/
/target/
.gradle/
/build/
*.jar
*.war
*.ear
*.db
Thumbs.db
Desktop.ini
.DS_Store
.svn
._*
.Spotlight-V100
.Trashes
/bin/
/deploy/
*.log*
*.class
*.*~
*~
.merge_file*
!gradle/wrapper/gradle-wrapper.jar

!.mvn/wrapper/maven-wrapper.jar

.eslintcache

src/main/resources/.h2.server.properties
!external/bfg-custom.jar
src/main/resources/config/application-mvt.yml
