mat-card-content {
    max-width: 100%;
    max-height: 500px;
    overflow-x: hidden;
    overflow-y: auto;
}

.empty {
    opacity: 0.25;
}

ul {
    padding-inline-start: 25px;
}

li {
    list-style-type: circle;
    padding-top: 10px;
    font-style: italic;
    font-weight: bold;
}

li span {
    font-style: normal;
    font-weight: normal;
    padding-left: 20px;
}

li span span {
    padding: unset;
}

.circle-icon-ok {
    background: green;
    color: white;
    padding: 3px;
    margin: 2px;
    border-radius: 50%;
}

.circle-icon-ko {
    background: red;
    color: white;
    padding: 3px;
    margin: 2px;
    border-radius: 50%;
}
