.cell-ok {
    background-color: #28a745;
    color: white;
    text-align: center;
}

.cell-ko {
    background-color: darkred;
    color: white;
    text-align: center;
}

.cell-ignored {
    background-color: grey;
    color: white;
    text-align: center;
}

.cell-warning {
    background-color: orange;
    color: white;
    text-align: center;
}
