<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="migration">
            <h2><span jhiTranslate="svn2GitApp.migration.detail.title">Migration</span> {{migration.id}}. {{migration.svnProject | uppercase }}</h2>
            <hr>
            <mat-card class="summary-card">
                <mat-card-header class="card-header">
                    <mat-card-title class="my-header">{{migration.id}}. {{migration.svnProject | uppercase}}</mat-card-title>
                    <mat-card-subtitle style="margin: 0" jhiTranslate="migration-process.summary">Migration summary</mat-card-subtitle>
                </mat-card-header>
                <jhi-summary-card [(migration)]="migration"></jhi-summary-card>
            </mat-card>
        </div>
    </div>
</div>
