<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-migration-heading" jhiTranslate="svn2GitApp.migration.home.createOrEditLabel">Create or edit a Migration</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!migration.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="migration.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="svn2GitApp.migration.svnGroup" for="field_svnGroup">Svn Group</label>
                    <input type="text" class="form-control" name="svnGroup" id="field_svnGroup"
                        [(ngModel)]="migration.svnGroup" required/>
                    <div [hidden]="!(editForm.controls.svnGroup?.dirty && editForm.controls.svnGroup?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.svnGroup?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="svn2GitApp.migration.svnProject" for="field_svnProject">Svn Project</label>
                    <input type="text" class="form-control" name="svnProject" id="field_svnProject"
                        [(ngModel)]="migration.svnProject" required/>
                    <div [hidden]="!(editForm.controls.svnProject?.dirty && editForm.controls.svnProject?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.svnProject?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="svn2GitApp.migration.user" for="field_user">User</label>
                    <input type="text" class="form-control" name="user" id="field_user"
                        [(ngModel)]="migration.user" required/>
                    <div [hidden]="!(editForm.controls.user?.dirty && editForm.controls.user?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.user?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="svn2GitApp.migration.date" for="field_date">Date</label>
                    <div class="input-group">
                        <input id="field_date" type="text" class="form-control" name="date" ngbDatepicker  #dateDp="ngbDatepicker" [(ngModel)]="migration.date"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="svn2GitApp.migration.gitlabGroup" for="field_gitlabGroup">Gitlab Group</label>
                    <input type="text" class="form-control" name="gitlabGroup" id="field_gitlabGroup"
                        [(ngModel)]="migration.gitlabGroup" required/>
                    <div [hidden]="!(editForm.controls.gitlabGroup?.dirty && editForm.controls.gitlabGroup?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.gitlabGroup?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="svn2GitApp.migration.gitlabProject" for="field_gitlabProject">Gitlab Project</label>
                    <input type="text" class="form-control" name="gitlabProject" id="field_gitlabProject"
                        [(ngModel)]="migration.gitlabProject" required/>
                    <div [hidden]="!(editForm.controls.gitlabProject?.dirty && editForm.controls.gitlabProject?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.gitlabProject?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="svn2GitApp.migration.status" for="field_status">Status</label>
                    <select class="form-control" name="status" [(ngModel)]="migration.status" id="field_status" >
                        <option value="WAITING">{{'svn2GitApp.StatusEnum.WAITING' | translate}}</option>
                        <option value="RUNNING">{{'svn2GitApp.StatusEnum.RUNNING' | translate}}</option>
                        <option value="DONE">{{'svn2GitApp.StatusEnum.DONE' | translate}}</option>
                        <option value="FAILED">{{'svn2GitApp.StatusEnum.FAILED' | translate}}</option>
                        <option value="IGNORED">{{'svn2GitApp.StatusEnum.IGNORED' | translate}}</option>
                        <option value="DONE_WITH_WARNINGS">{{'svn2GitApp.StatusEnum.DONE_WITH_WARNINGS' | translate}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="svn2GitApp.migration.maxFileSize" for="field_maxFileSize">Max File Size</label>
                    <input type="text" class="form-control" name="maxFileSize" id="field_maxFileSize"
                        [(ngModel)]="migration.maxFileSize" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="svn2GitApp.migration.forbiddenFileExtensions" for="field_forbiddenFileExtensions">Forbidden File Extensions</label>
                    <input type="text" class="form-control" name="forbiddenFileExtensions" id="field_forbiddenFileExtensions"
                        [(ngModel)]="migration.forbiddenFileExtensions" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="svn2GitApp.migration.gitlabUrl" for="field_gitlabUrl">Gitlab Url</label>
                    <input type="text" class="form-control" name="gitlabUrl" id="field_gitlabUrl"
                        [(ngModel)]="migration.gitlabUrl" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="svn2GitApp.migration.gitlabToken" for="field_gitlabToken">Gitlab Token</label>
                    <input type="text" class="form-control" name="gitlabToken" id="field_gitlabToken"
                        [(ngModel)]="migration.gitlabToken" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="svn2GitApp.migration.svnUrl" for="field_svnUrl">Svn Url</label>
                    <input type="text" class="form-control" name="svnUrl" id="field_svnUrl"
                        [(ngModel)]="migration.svnUrl" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="svn2GitApp.migration.svnUser" for="field_svnUser">Svn User</label>
                    <input type="text" class="form-control" name="svnUser" id="field_svnUser"
                        [(ngModel)]="migration.svnUser" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="svn2GitApp.migration.svnPassword" for="field_svnPassword">Svn Password</label>
                    <input type="text" class="form-control" name="svnPassword" id="field_svnPassword"
                        [(ngModel)]="migration.svnPassword" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="svn2GitApp.migration.trunk" for="field_trunk">Trunk</label>
                    <input type="text" class="form-control" name="trunk" id="field_trunk"
                        [(ngModel)]="migration.trunk" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="svn2GitApp.migration.branches" for="field_branches">Branches</label>
                    <input type="text" class="form-control" name="branches" id="field_branches"
                        [(ngModel)]="migration.branches" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="svn2GitApp.migration.tags" for="field_tags">Tags</label>
                    <input type="text" class="form-control" name="tags" id="field_tags"
                        [(ngModel)]="migration.tags" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="svn2GitApp.migration.svnHistory" for="field_svnHistory">Svn History</label>
                    <input type="text" class="form-control" name="svnHistory" id="field_svnHistory"
                        [(ngModel)]="migration.svnHistory" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="svn2GitApp.migration.tagsToMigrate" for="field_tagsToMigrate">Tags To Migrate</label>
                    <input type="text" class="form-control" name="tagsToMigrate" id="field_tagsToMigrate"
                        [(ngModel)]="migration.tagsToMigrate" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="svn2GitApp.migration.branchesToMigrate" for="field_branchesToMigrate">Branches To Migrate</label>
                    <input type="text" class="form-control" name="branchesToMigrate" id="field_branchesToMigrate"
                        [(ngModel)]="migration.branchesToMigrate" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="svn2GitApp.migration.createdTimestamp" for="field_createdTimestamp">Created Timestamp</label>
                    <div class="d-flex">
                        <input id="field_createdTimestamp" type="datetime-local" class="form-control" name="createdTimestamp" [(ngModel)]="createdTimestamp"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="svn2GitApp.migration.workingDirectory" for="field_workingDirectory">Working Directory</label>
                    <input type="text" class="form-control" name="workingDirectory" id="field_workingDirectory"
                        [(ngModel)]="migration.workingDirectory" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="svn2GitApp.migration.preserveEmptyDirs" for="field_preserveEmptyDirs">Preserve Empty Dirs</label>
                    <input type="checkbox" class="form-control" name="preserveEmptyDirs" id="field_preserveEmptyDirs"
                        [(ngModel)]="migration.preserveEmptyDirs" />
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
