<div>
    <h2 id="page-heading">
        <span jhiTranslate="svn2GitApp.migrationHistory.home.title">Migration Histories</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-migration-history" [routerLink]="['/migration-history/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="svn2GitApp.migrationHistory.home.createLabel">
            Create new Migration History
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="migrationHistories">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="svn2GitApp.migrationHistory.step">Step</span></th>
            <th><span jhiTranslate="svn2GitApp.migrationHistory.status">Status</span></th>
            <th><span jhiTranslate="svn2GitApp.migrationHistory.date">Date</span></th>
            <th><span jhiTranslate="svn2GitApp.migrationHistory.data">Data</span></th>
            <th><span jhiTranslate="svn2GitApp.migrationHistory.migration">Migration</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let migrationHistory of migrationHistories ;trackBy: trackId">
                <td><a [routerLink]="['/migration-history', migrationHistory.id, 'view' ]">{{migrationHistory.id}}</a></td>
                <td jhiTranslate="{{'svn2GitApp.StepEnum.' + migrationHistory.step}}">{{migrationHistory.step}}</td>
                <td jhiTranslate="{{'svn2GitApp.StatusEnum.' + migrationHistory.status}}">{{migrationHistory.status}}</td>
                <td>{{migrationHistory.date | date:'medium'}}</td>
                <td>{{migrationHistory.data}}</td>
                <td>
                    <div *ngIf="migrationHistory.migration">
                        <a [routerLink]="['../migration', migrationHistory.migration?.id, 'view' ]" >{{migrationHistory.migration?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/migration-history', migrationHistory.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
