<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-migration-history-heading" jhiTranslate="svn2GitApp.migrationHistory.home.createOrEditLabel">Create or edit a Migration History</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!migrationHistory.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="migrationHistory.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="svn2GitApp.migrationHistory.step" for="field_step">Step</label>
                    <select class="form-control" name="step" [(ngModel)]="migrationHistory.step" id="field_step" >
                        <option value="GITLAB_PROJECT_CREATION">{{'svn2GitApp.StepEnum.GITLAB_PROJECT_CREATION' | translate}}</option>
                        <option value="SVN_CHECKOUT">{{'svn2GitApp.StepEnum.SVN_CHECKOUT' | translate}}</option>
                        <option value="GIT_CLEANING">{{'svn2GitApp.StepEnum.GIT_CLEANING' | translate}}</option>
                        <option value="GIT_PUSH">{{'svn2GitApp.StepEnum.GIT_PUSH' | translate}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="svn2GitApp.migrationHistory.status" for="field_status">Status</label>
                    <select class="form-control" name="status" [(ngModel)]="migrationHistory.status" id="field_status" >
                        <option value="WAITING">{{'svn2GitApp.StatusEnum.WAITING' | translate}}</option>
                        <option value="RUNNING">{{'svn2GitApp.StatusEnum.RUNNING' | translate}}</option>
                        <option value="DONE">{{'svn2GitApp.StatusEnum.DONE' | translate}}</option>
                        <option value="FAILED">{{'svn2GitApp.StatusEnum.FAILED' | translate}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="svn2GitApp.migrationHistory.date" for="field_date">Date</label>
                    <div class="d-flex">
                        <input id="field_date" type="datetime-local" class="form-control" name="date" [(ngModel)]="date"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="svn2GitApp.migrationHistory.data" for="field_data">Data</label>
                    <input type="text" class="form-control" name="data" id="field_data"
                        [(ngModel)]="migrationHistory.data" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="svn2GitApp.migrationHistory.migration" for="field_migration">Migration</label>
                    <select class="form-control" id="field_migration" name="migration" [(ngModel)]="migrationHistory.migration" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="migrationOption.id === migrationHistory.migration?.id ? migrationHistory.migration : migrationOption" *ngFor="let migrationOption of migrations; trackBy: trackMigrationById">{{migrationOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
