<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-migration-removed-file-heading" jhiTranslate="svn2GitApp.migrationRemovedFile.home.createOrEditLabel">Create or edit a Migration Removed File</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!migrationRemovedFile.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="migrationRemovedFile.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="svn2GitApp.migrationRemovedFile.svnLocation" for="field_svnLocation">Svn Location</label>
                    <input type="text" class="form-control" name="svnLocation" id="field_svnLocation"
                        [(ngModel)]="migrationRemovedFile.svnLocation" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="svn2GitApp.migrationRemovedFile.path" for="field_path">Path</label>
                    <input type="text" class="form-control" name="path" id="field_path"
                        [(ngModel)]="migrationRemovedFile.path" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="svn2GitApp.migrationRemovedFile.reason" for="field_reason">Reason</label>
                    <select class="form-control" name="reason" [(ngModel)]="migrationRemovedFile.reason" id="field_reason" >
                        <option value="EXTENSION">{{'svn2GitApp.Reason.EXTENSION' | translate}}</option>
                        <option value="SIZE">{{'svn2GitApp.Reason.SIZE' | translate}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="svn2GitApp.migrationRemovedFile.fileSize" for="field_fileSize">File Size</label>
                    <input type="number" class="form-control" name="fileSize" id="field_fileSize"
                        [(ngModel)]="migrationRemovedFile.fileSize" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="svn2GitApp.migrationRemovedFile.migration" for="field_migration">Migration</label>
                    <select class="form-control" id="field_migration" name="migration" [(ngModel)]="migrationRemovedFile.migration" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="migrationOption.id === migrationRemovedFile.migration?.id ? migrationRemovedFile.migration : migrationOption" *ngFor="let migrationOption of migrations; trackBy: trackMigrationById">{{migrationOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
