<div class="modal-header">
    <h4 class="modal-title" jhiTranslate="svn2GitApp.mapping.add">Add Mapping</h4>
    <button aria-label="Close" data-dismiss="modal" class="close" type="button" (click)="activeModal.dismiss('closed')"><span aria-hidden="true">x</span>
    </button>
</div>
<div class="modal-body">
    <div>
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="svn2GitApp.staticMapping.svnDirectory" for="field_svnDirectory" style="width: 120px">Svn Directory</label>
            <mat-form-field>
                <input type="text" class="form-control" name="svnDirectory" id="field_svnDirectory" matInput required
                   [(ngModel)]="data.staticMapping.svnDirectory" />
            </mat-form-field>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="svn2GitApp.staticMapping.regex" for="field_regex" style="width: 120px;">Regex</label>
            <mat-form-field>
                <input type="text" class="form-control" name="regex" id="field_regex" matInput
                   [(ngModel)]="data.staticMapping.regex" />
            </mat-form-field>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="svn2GitApp.staticMapping.gitDirectory" for="field_gitDirectory" style="width: 120px">Git Directory</label>
            <mat-form-field>
                <input type="text" class="form-control" name="gitDirectory" id="field_gitDirectory" matInput required
                   [(ngModel)]="data.staticMapping.gitDirectory" />
            </mat-form-field>
        </div>
    </div>
    <div>
        <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="cancel()">
            <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" id="save-entity" [disabled]="data.staticMapping.gitDirectory === undefined || data.staticMapping.svnDirectory === undefined" class="btn btn-primary" mat-button [mat-dialog-close]="data.staticMapping">
            <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</div>
