<mat-horizontal-stepper [linear]="true" #stepper>
    <!-- Check Gitlab account step -->
    <mat-step [stepControl]="gitlabFormGroup">
        <form [formGroup]="gitlabFormGroup">
            <ng-template matStepLabel matStepperIcon="edit"><span jhiTranslate="migration-process.gitlab.check.account">Create your Gitlab account</span></ng-template>
            <div style="margin-bottom: 10px">
                <span jhiTranslate="migration-process.gitlab.use.default">Use default URL</span>
                <mat-checkbox [checked]="useDefaultGitlab" (change)="reverseGitlab()" [disabled]="gitlabCredsOption === 'required'"></mat-checkbox>
            </div>
            <div>
                <mat-form-field>
                    <input matInput placeholder="{{'migration-process.gitlab.url' | translate}}" [(disabled)]="useDefaultGitlab" formControlName="gitlabURL" required>
                </mat-form-field>
                <mat-form-field *ngIf="!useDefaultGitlab">
                    <input matInput placeholder="{{'migration-process.gitlab.token' | translate}}" formControlName="gitlabToken" [required]="gitlabCredsOption === 'required'">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <input matInput placeholder="{{'migration-process.gitlab.user' | translate}}" formControlName="gitlabUser" required>
                </mat-form-field>
                <button type="submit" mat-raised-button (click)="checkGitlabUser()" [ngClass]="cssClass(gitlabUserKO)" [disabled]="checkingGitlabUser">
                    <span jhiTranslate="migration-process.check" *ngIf="!checkingGitlabUser">Check</span>
                    <span jhiTranslate="migration-process.checking" *ngIf="checkingGitlabUser">Checking</span>
                </button>
            </div>
            <div>
                <mat-form-field>
                    <input matInput placeholder="{{'migration-process.gitlab.group' | translate}}" formControlName="gitlabGroup" required>
                </mat-form-field>
                <button type="button" mat-raised-button (click)="checkGitlabGroup()" [ngClass]="cssClass(gitlabGroupKO)" [disabled]="checkingGitlabGroup">
                    <span jhiTranslate="migration-process.check" *ngIf="!checkingGitlabGroup">Check</span>
                    <span jhiTranslate="migration-process.checking" *ngIf="checkingGitlabGroup">Checking</span>
                </button>
            </div>
            <mat-divider style="margin-bottom: 10px"></mat-divider>
            <div>
                <button mat-stroked-button matStepperNext [disabled]="gitlabGroupKO || gitlabUserKO"><i class="material-icons">navigate_next</i><span jhiTranslate="migration-process.next">Next</span></button>
            </div>
        </form>
    </mat-step>

    <!-- Check svn repository step -->
    <mat-step [stepControl]="svnFormGroup">
        <form [formGroup]="svnFormGroup">
            <ng-template matStepLabel><span jhiTranslate="migration-process.svn.check.repository">Check your SVN repository</span></ng-template>
            <div style="margin-bottom: 10px">
                <span jhiTranslate="migration-process.svn.use.default">Use default URL</span>
                <mat-checkbox [checked]="useDefaultSvn" (change)="reverseSvn()" [disabled]="svnCredsOption === 'required'"></mat-checkbox>
            </div>
            <div>
                <mat-form-field>
                    <input matInput placeholder="{{'migration-process.svn.url' | translate}}" formControlName="svnURL">
                </mat-form-field>
                <mat-form-field *ngIf="!useDefaultSvn">
                    <input matInput placeholder="{{'migration-process.svn.user' | translate}}" formControlName="svnUser" [required]="svnCredsOption === 'required'">
                </mat-form-field>
                <mat-form-field *ngIf="!useDefaultSvn">
                    <input matInput placeholder="{{'migration-process.svn.password' | translate}}" formControlName="svnPwd" type="password" [required]="svnCredsOption === 'required'">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <input matInput placeholder="{{'migration-process.svn.repo.name' | translate}}" formControlName="svnRepository" required>
                </mat-form-field>
                <button type="button" mat-raised-button (click)="checkSvnRepository()"
                        [ngClass]="cssClass(svnRepoKO)" [disabled]="checkingSvnRepo">
                    <span jhiTranslate="migration-process.check" *ngIf="!checkingSvnRepo">Check</span>
                    <span jhiTranslate="migration-process.checking" *ngIf="checkingSvnRepo">Checking</span>
                </button>
            </div>
            <div *ngIf="svnDirectories !== null && (svnDirectories.modules.length > 0 || svnDirectories.flat)">
                <ul class="fa-ul">
                    <li>
                        <span class="fa-li"><fa-icon [icon]="'check-double'"></fa-icon></span>
                        <span jhiTranslate="migration-process.svn.directories">Choose directories to migrate</span> :
                        <table mat-table [(dataSource)]="svnDirectories.modules" class="large-table">
                            <ng-container matColumnDef="svnDir">
                                <th mat-header-cell *matHeaderCellDef><span jhiTranslate="migration-process.directory">Directory</span></th>
                                <td mat-cell *matCellDef="let directory">{{ directory.path }}</td>
                            </ng-container>
                            <ng-container matColumnDef="selectSvn">
                                <th mat-header-cell *matHeaderCellDef style="width: 70px">
                                    <mat-checkbox (change)="$event ? masterSvnToggle() : null"
                                                  [checked]="svnSelection.hasValue() && isAllSvnSelected()"
                                                  [indeterminate]="svnSelection.hasValue() && !isAllSvnSelected()">
                                    </mat-checkbox>
                                </th>
                                <td mat-cell *matCellDef="let directory" style="width: 70px">
                                    <mat-checkbox (click)="$event.stopPropagation()"
                                                  (change)="svnToggle($event, directory.path)"
                                                  [checked]="svnChecked(directory.path)">
                                    </mat-checkbox>
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="svnDisplayedColumns"></tr>
                            <tr mat-row *matRowDef="let directory; columns: svnDisplayedColumns;"></tr>
                        </table>
                    </li>
                    <li>
                        <span class="fa-li"><fa-icon [icon]="'check'"></fa-icon></span>
                        <span>
                            <span jhiTranslate="migration-process.svn.root-directory">Or use root folder</span>
                            <mat-checkbox [(checked)]="useSvnRootFolder" (change)="onSelectionChange($event)"></mat-checkbox>
                        </span>
                    </li>
                </ul>
            </div>
            <mat-divider style="margin-bottom: 10px"></mat-divider>
            <div>
                <button mat-stroked-button matStepperPrevious><i class="material-icons">navigate_before</i> <span jhiTranslate="migration-process.back">Back</span></button>
                <button mat-stroked-button matStepperNext [disabled]="svnRepoKO && !useSvnRootFolder"><i class="material-icons">navigate_next</i><span jhiTranslate="migration-process.next">Next</span></button>
            </div>
        </form>
    </mat-step>

    <!-- History step -->
    <mat-step [stepControl]="historyFormGroup">
        <ng-template matStepLabel><span jhiTranslate="migration-process.history.options">History options</span></ng-template>
        <ul class="fa-ul">
            <li>
                <span class="fa-li"><fa-icon [icon]="'check-double'"></fa-icon></span>
                <span jhiTranslate="migration-process.svn.directories">Choose directories to migrate</span> :
                <table mat-table [(dataSource)]="staticDirectories" class="large-table">
                    <ng-container matColumnDef="svnDir">
                        <th mat-header-cell *matHeaderCellDef><span jhiTranslate="migration-process.directory">Directory</span></th>
                        <td mat-cell *matCellDef="let directory">{{ directory }}</td>
                    </ng-container>
                    <ng-container matColumnDef="selectSvn">
                        <th mat-header-cell *matHeaderCellDef style="width: 70px">
                            <mat-checkbox (change)="$event ? masterHistoryToggle() : null"
                                          [checked]="historySelection.hasValue() && isAllHistoriesSelected()"
                                          [indeterminate]="historySelection.hasValue() && !isAllHistoriesSelected()">
                            </mat-checkbox>
                        </th>
                        <td mat-cell *matCellDef="let directory" style="width: 70px">
                            <mat-checkbox (click)="$event.stopPropagation()"
                                          (change)="historyToggle($event, directory)"
                                          [checked]="historyChecked(directory)">
                            </mat-checkbox>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="svnDisplayedColumns"></tr>
                    <tr mat-row *matRowDef="let directory; columns: svnDisplayedColumns;"></tr>
                </table>
            </li>
            <li>
                <span class="fa-li"><fa-icon [icon]="'check-double'"></fa-icon></span>
                <span jhiTranslate="migration-process.history.option">History</span> :
                <mat-radio-group [(ngModel)]="historyOption">
                    <mat-radio-button [value]="'trunk'"><span jhiTranslate="migration-process.history.trunk-only">Trunk</span></mat-radio-button>
                    <mat-radio-button [value]="'nothing'"><span jhiTranslate="migration-process.history.no">No History</span></mat-radio-button>
                    <mat-radio-button [value]="'all'"><span jhiTranslate="migration-process.history.all">All History</span></mat-radio-button>
                </mat-radio-group>
            </li>
        </ul>
        <mat-divider style="margin-bottom: 10px"></mat-divider>
        <div>
            <button mat-stroked-button matStepperPrevious><i class="material-icons">navigate_before</i> <span jhiTranslate="migration-process.back">Back</span></button>
            <button mat-stroked-button matStepperNext [disabled]="svnRepoKO && !useSvnRootFolder"><i class="material-icons">navigate_next</i><span jhiTranslate="migration-process.next">Next</span></button>
        </div>
    </mat-step>

    <!-- Mapping options step -->
    <mat-step [stepControl]="mappingFormGroup">
        <form [formGroup]="mappingFormGroup">
            <table mat-table [(dataSource)]="mappings" class="large-table">
                <ng-container matColumnDef="svn">
                    <th mat-header-cell *matHeaderCellDef><span jhiTranslate="migration-process.svn.directory">SVN directory</span></th>
                    <td mat-cell *matCellDef="let mapping">{{ mapping.svnDirectory }}</td>
                </ng-container>
                <ng-container matColumnDef="regex">
                    <th mat-header-cell *matHeaderCellDef><span jhiTranslate="migration-process.regex">Regex</span></th>
                    <td mat-cell *matCellDef="let mapping">{{ mapping.regex }}</td>
                </ng-container>
                <ng-container matColumnDef="git">
                    <th mat-header-cell *matHeaderCellDef><span jhiTranslate="migration-process.git.directory">Git directory</span></th>
                    <td mat-cell *matCellDef="let mapping">{{ mapping.gitDirectory }}</td>
                </ng-container>
                <ng-container matColumnDef="selectMapping">
                    <th mat-header-cell *matHeaderCellDef>
                        <mat-checkbox (change)="$event ? masterToggle() : null"
                                      [checked]="selection.hasValue() && isAllSelected()"
                                      [indeterminate]="selection.hasValue() && !isAllSelected()">
                        </mat-checkbox>
                    </th>
                    <td mat-cell *matCellDef="let row">
                        <mat-checkbox *ngIf="row.svnDirectory !== undefined"
                            (click)="$event.stopPropagation()"
                            (change)="$event ? selection.toggle(row) : null"
                            [checked]="selection.isSelected(row)"
                            [disabled]="row.isStatic && !overrideStaticMappings">
                        </mat-checkbox>
                        <mat-icon *ngIf="row.svnDirectory === undefined" class="add-icon" (click)="addMapping()">add</mat-icon>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <ng-template matStepLabel><span jhiTranslate="migration-process.mapping">Mapping</span></ng-template>
            <mat-divider style="margin-bottom: 10px"></mat-divider>
            <div>
                <button mat-stroked-button matStepperPrevious><i class="material-icons">navigate_before</i> <span jhiTranslate="migration-process.back">Back</span></button>
                <button mat-stroked-button matStepperNext><i class="material-icons">navigate_next</i><span jhiTranslate="migration-process.next">Next</span></button>
            </div>
        </form>
    </mat-step>

    <!-- Cleaning options step -->
    <mat-step [stepControl]="cleaningFormGroup">
        <form [formGroup]="cleaningFormGroup">
            <br/>
            <div><b><span jhiTranslate="migration-process.file.size">Max size authorized for a file</span></b>:</div>
            <mat-form-field style="max-width: 35px;">
                <input matInput type="number" formControlName="fileMaxSize" min="1" />
            </mat-form-field>
            <mat-select (selectionChange)="fileSizeUnit($event)" style="max-width: 35px" value="M">
                <mat-option value="K">K</mat-option>
                <mat-option value="M">M</mat-option>
                <mat-option value="G">G</mat-option>
            </mat-select>
            <br/>
            <mat-divider></mat-divider>
            <b><span jhiTranslate="migration-process.file.extensions">File extensions to clean</span></b>:
            <table mat-table [(dataSource)]="staticExtensions" class="large-table">
                <ng-container matColumnDef="extensionPattern">
                    <th mat-header-cell *matHeaderCellDef><span jhiTranslate="migration-process.pattern">Pattern</span></th>
                    <td mat-cell *matCellDef="let extension">{{ extension.description }}</td>
                </ng-container>
                <ng-container matColumnDef="selectExtension">
                    <th mat-header-cell *matHeaderCellDef>
                        <mat-checkbox (change)="$event ? masterExtensionToggle() : null"
                                      [checked]="extensionSelection.hasValue() && isAllExtensionSelected()"
                                      [indeterminate]="extensionSelection.hasValue() && !isAllExtensionSelected()">
                        </mat-checkbox>
                    </th>
                    <td mat-cell *matCellDef="let extension">
                        <mat-checkbox (click)="$event.stopPropagation()"
                                      (change)="extensionToggle($event, extension)"
                                      [checked]="extensionSelection.isSelected(extension)"
                                      [(disabled)]="extension.isStatic && !overrideStaticExtensions" >
                        </mat-checkbox>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="extensionDisplayedColumns"></tr>
                <tr mat-row *matRowDef="let extension; columns: extensionDisplayedColumns;"></tr>
            </table>
            <div>
                <input matInput placeholder="{{'migration-process.extension.add' | translate}}" type="text" style="width: 180px; height: 40px; margin-bottom: 10px" [formControl]="addExtentionFormControl">
                <button mat-mini-fab color="primary" style="margin-top: -10px; margin-bottom: 10px;" (click)="addExtension()">+</button>
            </div>

            <ng-template matStepLabel><span jhiTranslate="migration-process.cleaning.options">Cleaning options</span></ng-template>
            <mat-divider style="margin-bottom: 10px"></mat-divider>
            <div>
                <button mat-stroked-button matStepperPrevious><i class="material-icons">navigate_before</i> <span jhiTranslate="migration-process.back">Back</span></button>
                <button mat-stroked-button matStepperNext (click)="initMigration(null)"><i class="material-icons">navigate_next</i><span jhiTranslate="migration-process.next">Next</span></button>
            </div>
        </form>
    </mat-step>

    <!-- Summary step -->
    <mat-step>
        <ng-template matStepLabel><span jhiTranslate="migration-process.ready">Ready</span></ng-template>
        <mat-grid-list cols="2" rowHeight="600px">
            <mat-grid-tile>
                <mat-card class="summary-card">
                    <mat-card-header class="card-header">
                        <mat-card-title class="my-header">{{svnFormGroup.controls['svnRepository'].value | uppercase}}</mat-card-title>
                        <mat-card-subtitle style="margin: 0" jhiTranslate="migration-process.summary">Migration summary</mat-card-subtitle>
                    </mat-card-header>
                    <jhi-summary-card [migration]="mig"></jhi-summary-card>
                    <mat-card-actions class="center-block">
                        <button mat-stroked-button (click)="go()" class="ok" *ngIf="!migrationStarted"><i class="material-icons">power_settings_new</i> <span jhiTranslate="migration-process.migration.start">Start migration</span></button>
                        <button mat-stroked-button *ngIf="migrationStarted" disabled><i class="material-icons">check</i> <span jhiTranslate="migration-process.migration.planned">Migration planned</span></button>
                    </mat-card-actions>
                </mat-card>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-card class="summary-card">
                    <mat-card-header class="card-header">
                        <mat-card-title style="margin: 0" jhiTranslate="migration-process.mappings">Migration mappings</mat-card-title>
                    </mat-card-header>
                    <jhi-summary-mappings [migration]="mig"></jhi-summary-mappings>
                </mat-card>
            </mat-grid-tile>
        </mat-grid-list>
        <button mat-stroked-button matStepperPrevious><i class="material-icons">navigate_before</i> <span jhiTranslate="migration-process.back">Back</span></button>
        <button mat-stroked-button routerLink="/"><i class="material-icons">home</i> <span jhiTranslate="migration-process.home">Home</span></button>
    </mat-step>
</mat-horizontal-stepper>
