.cell-waiting {
    background-color: deepskyblue;
    color: white;
    text-align: center;
}

.align-buttons {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

td {
    max-width: 200px;
    word-break: break-word;
    font-size: 0.85em;
}

mat-paginator {
    user-select: none;
}
