.ok {
    background-color: #28a745;
    color: white;
}

.ko {
    background-color: darkred;
    color: white;
}

.warning {
    background-color: orangered;
    color: white;
}

.summary-card {
    width: 600px;
    margin: 20px;
    min-height: 550px;
    overflow-y: auto;
}

.my-header {
    font-size: x-large;
}

.center-block {
    width: 50%;
    margin: 0 auto;
}

.large-table {
    width: 100%;
    margin-bottom: 20px;
}

.add-icon {
    color: white;
    background-color: #4caf50;
    width: 22px;
    height: 22px;
    cursor: pointer;
}

.tagsbranches-to-migrate {
    width: 400px;
}

.svn-ok {
    color: green;
    font-weight: bold;
}

.svn-flat {
    color: orange;
    font-weight: bold;
}

.svn-ko {
    color: red;
    font-weight: bold;
}

.circle-icon-ok {
    background: green;
    color: white;
    padding: 5px;
    border-radius: 50%;
}

.circle-icon-ko {
    background: red;
    color: white;
    padding: 5px;
    border-radius: 50%;
}

.circle-icon-warn {
    background: orange;
    color: white;
    padding: 5px;
    border-radius: 50%;
}
