@import '~@angular/material/theming';
@import 'bootstrap-variables';
@include mat-core();

$svn2git-primary: mat-palette($mat-blue);
$svn2git-accent: mat-palette($mat-green);
$svn2git-warn: mat-palette($mat-blue, A700, A200, A400);
$svn2git-theme: mat-light-theme($svn2git-primary, $svn2git-accent, $svn2git-warn);
@include angular-material-theme($svn2git-theme);

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(../icons/material-icons.woff2) format('woff2');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

.badge-primary {
    text-align: center;
}

mat-card {
    height: calc(100% - 10px);
}

table.large-table.mat-table {
    width: 100%;
}

td.badge-success,
td.badge-danger {
    text-align: center;
}
