<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-static-extension-heading" jhiTranslate="svn2GitApp.staticExtension.home.createOrEditLabel">Create or edit a Static Extension</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!staticExtension.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="staticExtension.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="svn2GitApp.staticExtension.value" for="field_value">Value</label>
                    <input type="text" class="form-control" name="value" id="field_value"
                        [(ngModel)]="staticExtension.value" required/>
                    <div [hidden]="!(editForm.controls.value?.dirty && editForm.controls.value?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.value?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="svn2GitApp.staticExtension.description" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                        [(ngModel)]="staticExtension.description" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="svn2GitApp.staticExtension.enabled" for="field_enabled">Enabled</label>
                    <input type="checkbox" class="form-control" name="enabled" id="field_enabled"
                        [(ngModel)]="staticExtension.enabled" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="svn2GitApp.staticExtension.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                        [(ngModel)]="staticExtension.name" />
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
